@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --input: #aaaaaa;
  --ticket-hover: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --input: #171717;
    --ticket-hover: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea, select {
  background: var(--input);
  color: var(--foreground);
  outline: none;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

textarea {
  resize: none;
}

.ticket:hover {
  background: var(--ticket-hover);
}
